*{
    margin:0px; 
    padding:0px;
}
body,html{
    overflow-y: hidden;
}

img{
    height: 100px;
    width: 100px;
}

canvas{
    border: 1px solid black;
    border-radius: 5%;
    width: 1024px;
    height: 1024px;
    box-shadow: 0 0 10px 10px ;
}

canvas#clouds{
    width: 1024px;
    height: 1024px;
}